header {
  background-color: orange;
  color: white;
  display: flex;
  margin-bottom: 1em;

  /*text;*/
  height: 4vw;
  /*text-align: cen;*/

}
h1{
  padding-left: 10px;
}
.router-outlet {
  min-height: 83vh;
  align-items: center;
  text-align: center;
}
a{
  text-decoration: none;
  color:white;
  margin-left: 20px;
  font-weight: bold;}
nav{
  padding-top: 35px;
  text-decoration: none;
  margin-left:10px;

}
footer {
  background-color: orange;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
}
