.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
}

.new-task {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}
mat-card{
   margin-bottom: 15px;
 }

.form-group{
  display: flex;
  align-items: center;
}
mat-card-title, mat-card-subtitle{
  padding: 10px;
}

.new-task .form-group {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .new-task {
    grid-template-columns: 1fr 1fr auto;
  }

  .new-task .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .new-task .form-group .form-control {
    flex-grow: 1;
  }
}
/*button{*/
/*  background-color: orange;*/
/*  color: white;*/
/*  border-radius: 5px;*/
/*  border: none;*/
/*}*/
.tasks .task {
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'deadline actions' 'title title';
}

@media screen and (min-width: 768px) {
  .tasks .task {
    grid-template-columns: 3fr 1fr auto;
    grid-template-areas: 'title deadline actions';
  }
}

.tasks .task .title {
  grid-area: title;
}
.deadline{
  color:white
}
.tasks .task .deadline {
  grid-area: deadline;
}

.tasks .task .deadline span {
  padding: 5px;
  background-color: orange;
  border-radius: 8px;
  font-size: 0.8em;
}

.tasks .task .actions {
  grid-area: actions;
  text-align: right;
}
